.App {
  margin: auto;
  min-width: 450px;
}

.main {
width: 90%;
height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.App > .main,
.App > header,
.App > footer {
  margin: auto;
  scroll-margin: 0px;
    min-width: 500px;
}

