// Override default variables before the import
$body-bg: #F1F1FF;

div.row div.col {
   padding: 0px;
}

div.container-fluid, div.container {
    padding: 0px;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';