// Override default variables before the import
$body-bg: #F1F1FF;
$btn-primary-color:#054AD4;

div.row div.col {
    padding: 0px;
    margin: 0px;
}

div.container-fluid, div.container {
    padding: 0px;
}




// Import Bootstrap and its default variables

@import "../node_modules/bootstrap/scss/bootstrap";