
$body-color: #04101c;
$body-bg: #fff;
$primary: #0473A9;
$secondary: #2da160;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
);

.input-place,
.date-picker,
.rooms,
.pax {
  color: #04101c;
  background-color: #fff;
  width: 100%;
}

.App {
  min-width: 400px;
  color: #04101c;
  
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@import "../../node_modules/bootstrap/scss/bootstrap";

