// _config.scss
$body-color: #04101C;
$body-bg: #fff;
$primary: #054AD4;
$secondary: #D0E3E0;
$terciary: #06A773;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);

$custom-colors: (
  "terciary": $terciary
);

.input-place , .date-picker, .rooms {
  color: black;
  background-color: #fff;
 
  width: 100%;
}

.search-button {
  border-radius: 5px;
 
}

$theme-colors: map-merge($theme-colors, $custom-colors);