.card-horizontal {
  border-radius: 75px 15px 15px 30px;
  border: solid gray 0.2px;
  height: 300px;
  width: 700px;
}
.card-vertical {
  border-radius: 75px 30px 15px 15px;
  border: solid gray 0.2px;
  width: 300px;
  height: 550px;
}
