.card {
  width: 700px;

  font-family: SFProDisplay;
}

.photo-card {
  position: relative;
  width: 300px;
  height: 300px;
}

.img-card {
  width: 300px;
  height: 300px;
  border-radius: 25% 10%;
}

.text-card {
  width: 100%;
  height: 120px;
  position: absolute;
  bottom: 0rem;
  color: white;
  background-color: black;
  filter: opacity(0.7);
  border-radius: 0px 0px 75px 30px;
}

.span-card {
  font-size: 14px;
}
.text-card > h3 {
  font-size: 22px;
}

.nav-card {
  width: 400px;
}

.card-f {
  position: absolute;
  right: 0rem;
}

.description {
  font-size: 14px;
  text-align: start;
}
