.card {
  width: 700px;
  font-family: SFProDisplay;
}

.photo-card {
  width: 250px;
  height: 250px;
}

.navigation-horizontal {
  width: 400px;
  height: inherit;
}

.navigation-vertical {
  height: 310px;
}

.carousel-inner {
  height: 100%;
}

.carousel-indicators {
  top: 0;
}

.img-card {
  width: 250px;
  height: 100%;
  border-radius: 75px 0px 75px 0px;
}

.caption-horizontal {
  position: absolute;
  width: inherit;
  height: 100px;
  bottom: 0rem;
  z-index: 1;
  color: white;
  background-color: #17202a;
  filter: opacity(0.8);
  border-radius: 0px 0px 75px 0px;
}

.caption-vertical {
  position: absolute;
  width: inherit;
  height: 100px;
  top: 150px;
  z-index: 1;
  color: white;
  background-color: #17202a;
  filter: opacity(0.8);
  border-radius: 0px 0px 75px 0px;
}

.span-card {
  font-size: 12px;
  height: 25px;
  color: white;
  background-color: #17202a;
  filter: opacity(0.8);
  border: none;
}

.caption-vertical > h4,
.caption-horizontal > h4 {
  font-size: 20px;
  width: 90%;
}

.location > span {
  font-size: 14px;
}

.delete-horizontal {
  position: absolute;
  right: 0rem;
}

.delete-vertical {
  position: absolute;
  top: 250px;
  right: 0rem;
}

.description {
  font-size: 13px;
}

.tab-content,
.tab-pane {
  height: 100%;
}

/* Breackpoints media queries */

@media (max-width: 800px) {
  .navigation-horizontal {
    height: 400px;
    width: 100%;
  }

  .caption-horizontal {
    position: absolute;
    width: inherit;
    height: 100px;
    top: 150px;
    z-index: 1;
    color: white;
    background-color: #17202a;
    filter: opacity(0.8);
    border-radius: 0px 0px 75px 0px;
  }

  .delete-horizontal {
    position: absolute;
    top: 250px;
    right: 0rem;
  }
}
