header {
  margin: auto;
}

.cont-back {
  width: 100%;
  margin: auto;
  height: 500px;
  background: url("../assets/header/Fondo.png") no-repeat center;
  background-size: cover;
}

.profile {
  position: absolute;
  top: 425px;
  min-width: 400px;
}
.profile-img {
  margin: auto;
  width: 135px;
  height: 135px;
  border-radius: 150px;
  border: 5px solid rgba(255, 255, 255, 0.49);
}

.profile-img > img {
  width: 100%;
  height: 100%;
  border-radius: 150px;
}

.profile-data {
  width: 90%;
}

.profile-badge {
  width: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.down-buttom,
.up-buttom {
  width: 95%;
  margin: auto;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.down-buttom > img {
  width: 50px;
  height: 50px;
  filter: opacity(0.6);
}

.up-buttom > img {
  width: 50px;
  height: 50px;
  filter: opacity(0.6);
  transform: rotate(180deg);
}
.down-buttom,
.up-buttom > img:hover {
  filter: opacity(1);
  cursor: pointer;
}

/* Breackpoints media queries */

@media screen and (max-width: 500px) {
  .down-buttom > img {
    display: none;
  }
}
