.popover {
  width: 100%;
  color: var(--bs-secondary);
}

.suggest > button:hover {
  color: #BFE2E2;
}

.bs-popover-bottom > .popover-arrow::after,
.bs-popover-auto[data-popper-placement^="bottom"] > .popover-arrow::after {
  border-bottom-color: #343a40 !important;
}
