.card{
    padding: 20px;
    width: 350px;
    height: 480px;
    align-items: center;
}
.container-img{
  height: 310px;
  width: 250px;
  padding: 10px;

}
.container-body{
    
    width: inherit;
}
.container-img > img {
    width: 30px;
    align-items: center;
}