.card-product {
  width: inherit;
  height: auto;
  background: #219653;
  border-radius: 15px;
  font-family: SFProDisplay;
}
h2 {
  color: white;
  font-weight: 600;
  font-size: 30px;
}
span {
  font-weight: 600;
  color: #ABB5BE;
}
.form-control {
  padding: 0px;

  font-weight: 700;
  
}
.form-control::placeholder {
  color: #04101C;
}
.button-submit {
  width: 60px;
  height: 60px;
}
.lupa-wrap > img {
  width: 30px;
  height: 30px;
  filter: opacity(0.6);
}
.lupa-wrap > img:hover {
  filter: opacity(1);
  cursor: pointer;
}
