.date-wrap {
    background: #FFFFFF;
    height: 60px;
 
    
    
    border: 1px solid #CED4DA;
    box-sizing: border-box;
    border-radius: 4px;
}

.dates {
    background: #FFFFFF;
  
    text-align: center;
 width: 100%;

}
.picker {
    height: 38px;
    
}
.picker > .input-c {
   padding: 0px;
    width: 100%;
    text-align: center;
    height: 100%;
    border: none;
    
}
