
footer{
    
    width: 100%;
    display: flex;
    flex-direction: column;
}





.group-certificate {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;

}

.foot {
    width: 100%;
    height: 300px;
    background-color: #D0E3E0;
}

.group-certificate ,
.foot > .wrap {
      margin: auto;
    width: 90%;
}







.cert-down {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a {
    text-decoration: none ;
    color: black;
}

.f-top{
 
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
   
}
.f-top img {
    margin-right: 22px;
}

.social-links {
    
    
       
       
 
}

.group-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.links-left {
    display: flex;
    flex-direction: column;

}

.f-down {
  

}