footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.group-certificate {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 30px;
}



.group-certificate,
.foot > .wrap {
  margin: auto;
  width: 90%;
}

.cert-down {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.foot {
  background: linear-gradient(270deg, #BFE2E2 0%, var(--bs-primary) 100%);
}

.f-top,
.group-links {
  padding: 5px;
}
.f-top img {
  margin-right: 22px;
}

.social-links {
  height: 20px;
}

.group-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div > a {
  color: black;
  text-decoration: none;
}
.links-left {
  display: flex;
  flex-direction: column;
}

.f-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
