header {
  margin: auto;
}

.cont-back {
  width: 100%;
  margin: auto;
  height: 500px;
  background: url("../assets/header/Fondo.png") no-repeat center;
  background-size: cover;
}
.profile-logo {
  position: absolute;
  margin: auto;
  width: 150px;
  height: 150px;
  top: 425px;
  display: flex;
  justify-content: center;
  border-radius: 150px;
  border: 10px solid rgba(255, 255, 255, 0.49);
}

.profile-logo > img {
  width: 100%;
  height: 100%;
  border-radius: 150px; 
}

.down-buttom, .up-buttom {
  height: 50px;
  
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.down-buttom > img {
  width: 50px;
  height: 50px;
  filter: opacity(0.6);
}

.up-buttom > img {
  width: 50px;
  height: 50px;
  filter: opacity(0.6);
  transform: rotate(180deg); 
}
.down-buttom, .up-buttom > img:hover {
  filter: opacity(1);
  cursor: pointer;
}

/* Breackpoints media queries */

@media screen and (max-width: 500px) {
  .down-buttom > img {
    display: none;
  }
}
