header {
  margin: auto;
}

.cont-back {
  width: 100%;
  margin: auto;
  height: 525px;
  background: url("../assets/header/Fondo.png") no-repeat center;
  background-size: cover;
}
.logo {
  display: flex;
  justify-content: center;
}

.img-logo {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 450px;
}

.down-buttom { 
  width: 90%;
  height: 50px;
  margin: 16px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;  
}

.down-buttom > img {
  width: 50px;
  height: 50px;
}

/* Breackpoints media queries */

@media screen and (max-width: 500px) {
  .down-buttom > img{
    display: none;
  }
}