header {
  margin: auto;
}

.cont-back {
  width: 100%;
  margin: auto;
  height: 525px;
  background: url("../assets/header/Fondo.png") no-repeat center;
  background-size: cover;
}
.logo {
  display: flex;
  justify-content: center;
}

.img-logo {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 450px;
}
