.input-place {
    border: none;
    background: white;
    margin: auto;
    width: 100%
    
    
    
    
}


.input-place:focus {
    outline: none;
}
.wrap-text {
    width: 100%;
    padding-right: 10px ;
}

.input-wrap{

 height: 60px;
background: #FFFFFF;

border: 1px solid #CED4DA;
box-sizing: border-box;
border-radius: 4px;
}
.form-control {
    padding: 0px;
}


.icon{
  height: 100%;
    width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    
    
 
   
}