.nav-links {
  border: none;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-links > img {
  height: 40px;
  filter: opacity(0.5);
}

.nav-links > h1 {
  font-size: 15px;
  text-align: center;
  filter: opacity(1);
  text-decoration: none;
}
